/**
 * Standard style sheet.
 *
 * @package    vanilla
 * @subpackage css
 * @author     Loops <evrard at h2a dot lu>
 * @version    SVN: $Id: standards.css 30 2013-11-14 11:19:21Z loops $
 */

.hidden { position: absolute; left: -9999em; top: -9999em; }
.not-hidden { position: static !important; }
.hidden-text { text-indent: -9999em; overflow:hidden; }
.has-js .js-hide { display: none }
.no-js .js-show { display: none }

.left { display: inline; float: left; }
.right { display: inline; float: right; }
.center { margin-left: auto; margin-right: auto; }
.clear { display: block; clear: both; }
.clean { overflow: hidden; } /* tips: can be used to avoid the clear class */
.oneline { white-space: nowrap; overflow: hidden; display: block; }
.group:before, .group:after { content: ""; display: table; } 
.group:after { clear: both; }
.rel { position: relative; }

/* These images styles are used in CKEditor */
.ileft { display: inline; float: left; margin-right: 1em; margin-bottom: 1em; }
.iright { display: inline; float: right; margin-left: 1em; margin-bottom: 1em; }

.vanilla { padding: 0; margin: 0; list-style: none; border: 0; background: none; }
.block { display: block; }

button { vertical-align: middle; cursor: pointer; outline: 0; overflow: visible; border: none; }
.box { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.fit { width: 100%; }
.auto { margin-right: auto; margin-left: auto; }

a { text-decoration: none; outline: none; color: inherit; }
a:hover { text-decoration: underline; }
a.block { text-decoration: none !important; }

/* These styles are used in CKEditor */
.uc { text-transform: uppercase; }
.lc { text-transform: lowercase; }
.nc { text-transform: none !important; }

.n { font-weight: normal; font-style: normal; }
.u { text-decoration: underline; }
.b, .strong { font-weight: bold; }
.nb { font-weight: normal; }
.em, .i { font-style: italic; }
.ni { font-style: normal; }
.caps { font-variant: small-caps; }
.small { font-size: 50%; }
.big { font-size: 150%; }

/* These styles are used in CKEditor */
.ct { text-align: center; }
.lt { text-align: left; }
.rt { text-align: right; }
.jt { text-align: justify; }

select[name], textarea[name], input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], button { padding: 2px; margin-bottom: 2px; border-width: 1px; border-style: solid; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
select:focus, textarea:focus, input:focus, button:focus { outline: none } 
input[type="text"], input[type="password"] { padding: 3px 2px; }
input[type="radio"], input[type="checkbox"] { width: 16px !important; vertical-align: -2px; }
option { background: white; }
optgroup { background: white; font-weight: normal; font-style: normal; }
label { cursor: pointer; }

/* Hack for Safari 3.0 and Opera 9 (! Opera 10) */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
}

/* Hack for Opera 10 (and below) only */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
  input[type="radio"], input[type="checkbox"] { vertical-align: 0; }
}