/**
 * Project style sheet.
 *
 * @package    vanilla
 * @subpackage css
 * @author     Loops <evrard at h2a dot lu>
 * @version    SVN: $Id: styles.css 47 2013-12-05 09:30:42Z loops $
 */


/** Defaults ***/

/* declare the default font and color here */
body, button, input, select, textarea { color: #6b624d; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 12px; line-height: 1.231; }
/* font smoothing */
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* paragraphs */
p { padding: 0; margin: 0 0 10px; line-height: 1.5; }

/* links */
a { text-decoration: underline; color: #3a6386; }
a:hover { text-decoration: none; }
/* reset for block */
a.block { text-decoration: none; }
a.block:hover {}
a.block:active, a.block:focus { outline: 0; }

/* titles, will be usefull to have a class */
h1, .h1 { color: #685d4b; font-size: 32px; font-family: casloncp, serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; margin: 30px 0 30px; }
h2, .h2 { color: #685d4b; font-size: 22px; font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; margin: 30px 0 30px; }
h3, .h3 { color: #bbae8e; font-size: 22px; font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; margin: 30px 0 20px; }
h4, .h4 { color: #bbae8e; font-size: 20px; font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; margin: 30px 0 20px; }
h5, .h5 { color: #bbae8e; font-size: 18px; font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; margin: 30px 0 20px; }
h6, .h6 { color: #bbae8e; font-size: 16px; font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; margin: 30px 0 20px; }

/* lists */
ul, ol { border-left: 1px #d5d0c5 solid; padding-left: 25px; list-style: none; margin: 0 0 10px; }
li { padding: 0; margin: 0; line-height: 1.5; }
li + li {}
ul li:before { display: inline; content: "\2022\00A0"; color: #817e77; }
ol { counter-reset: ol; }
ol li:before { display: inline; counter-increment: ol; content: counters(ol,".")".\00A0"; color: #817e77; }
/* disable stuff on vanilla */
li.vanilla { line-height: 1.231; }
li.vanilla:before { display: none; }

/* tables */
table { border: 0; width: 100%; margin: 0 0 10px; }
th { text-align: left; }
th, td { background-color: #f1ede4; padding: 10px 15px; }
th + td, td + th, td + td, th + th { border-left: 1px #d9cfb8 solid; }
tr + tr th, tr + tr td { border-top: 1px #d9cfb8 solid; }
thead th, thead td { border-bottom: 1px #d9cfb8 solid; white-space: nowrap; }

/* list in table */
table ul, table ol { padding-left: 0; border-left: 0; margin: 0; }

/* selected text */
/*::selection {}*/
/*::-moz-selection {}*/

/* miscellaneous */
abbr[title] { border: 0 }
small, .small { font-size: 75%; }
big, .big { font-size: 150%; }
address, .adr { font-style: normal; line-height: 1.4; }
/* img { max-width: 100%; } */

/* custom styles, must comes after to overwrote if necessary */

.font-0 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; letter-spacing: 0; } /* default font family */
.font-1 { font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; } /* secondary font family */
.font-2 { font-family: casloncp, serif; font-weight: normal !important; font-style: normal !important; } /* ... */

.cl-0 { color: #6b624d; } /* default color */
.cl-1 { color: #bbae8e; } /* secondary color: light brown */
.cl-2 { color: #685d4b; } /* dark brown */
.cl-3 { color: #666; } /* gray */
.cl-4 { color: #817e77; } /* brown-gray */

/* we advice to use the same color for each number */
.bg-0 { background-color: #6b624d; } /* default color */
.bg-1 { background-color: #bbae8e; } /* secondary color */
.bg-2 { background-color: #685d4b; } /* ... */
.bg-3 { background-color: #666; } 
.bg-4 { background-color: #817e77; }

/* we advice to use the same color for each number */
.bd-0 { border-color: #6b624d; } /* default color */
.bd-1 { border-color: #bbae8e; } /* secondary color */
.bd-2 { border-color: #685d4b; } /* ... */
.bd-3 { border-color: #666; }
.bd-4 { border-color: #817e77; }

/* group elements with bg-pattenr */
html, .bg-pattern, select[name], textarea[name], input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"] { background-image: url(images/bg-pattern.jpg); }
/* group elements with bull */
h2:before, .h2:before, .footeradr:before { background-image: url(images/bull-685d4b.png); }

/*** Elements ***/

/* special styles for h2 */
h2, .h2 { padding: 25px 0 25px 34px; position: relative; }
/* undo margin-top for first child */
h2:first-child, .h2:first-child { margin-top: 0; }
/* add line and bullet */
h2:before, .h2:before { content: ""; display: block; position: absolute; z-index: 0; top: 0; left: 0; width: 70px; height: 57px; background-position: 0 100%; background-repeat: no-repeat; border-top: 1px #bbae8e solid; }
h2:after, .h2:after { content: ""; display: block; position: absolute; z-index: 0; bottom: 0; left: 0; width: 70px; height: 1px; background-color: #bbae8e; }
/* disable on vanilla class */
h2.vanilla, .h2.vanilla { padding: 0; }
h2.vanilla:before , .h2.vanilla:before, h2.vanilla:after , .h2.vanilla:after { display: none; }

/* special styles for h3 */
h3, .h3 { padding: 0 0 5px; position: relative; }
/* undo margin-top for first child */
h3:first-child, .h3:first-child { margin-top: 0; }
h3:after, .h3:after { content: ""; display: block; position: absolute; z-index: 0; bottom: 0; left: 0; width: 70px; height: 1px; background-color: #bbae8e; }
/* disable on vanilla class */
h3.vanilla, .h3.vanilla { padding: 0; }
h3.vanilla:after , .h3.vanilla:after { display: none; }

/* button */
button, .btn { color: #685d4b; background-color: transparent; font-size: 16px; font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; letter-spacing: 1px; display: inline-block; margin: 0; padding: 9px 20px 9px; border: 1px #685d4b solid; min-width: 140px; text-align: center; text-decoration: none; position: relative; }
button + button, button + .btn, .btn + button, .btn + .btn { margin-left: 4px; } 
/* effect */
button:hover, .btn:hover, button:focus, .btn:focus, button:active, .btn:active { color: #bbae8e; border-color: #bbae8e; }
/* variation */
.btn-triangleright:before { display: inline; content: "\25B6"; position: absolute; left: 30px; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
.de .btn-triangleright:before { position: static; content: "\25B6\00A0"; }
button.tiny ,.btn.tiny { padding: 6px 15px 7px; min-width: 0; }

/* shadows */
.shadow { position: relative; }
.shadow-over { position: relative; z-index: 1; box-shadow: 0 0 5px 0 rgba(0,0,0,.15); }
.shadow:before, .shadow:after { z-index: 0; position: absolute; content: ""; bottom: 15px; width: 50%; top: 80%; background-color: rgba(0,0,0,.5); box-shadow: 0 15px 10px rgba(0,0,0,.5); }
.shadow:before { left: 10px; -webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg); -o-transform: rotate(-1deg); -ms-transform: rotate(-1deg); transform: rotate(-1deg); }
.shadow:after { right: 10px; -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg); -o-transform: rotate(1deg); -ms-transform: rotate(1deg); transform: rotate(1deg); }

/* banner */
.banner { position: relative; height: 350px; overflow: hidden; }
  .banner-img { position: absolute; z-index: 1; top: 50%; left: 50%; margin-top: -270px; margin-left: -750px; }
  .skrollr-mobile .banner-img { transition: margin-top 300ms ease-in-out; -webkit-transition: margin-top 300ms ease-in-out; }
  
/* gmap banner */
.banner-gmap { height: 530px; }
  .banner-gmap .banner-img { margin-top: -270px; }
  .banner-gmap .gmap { width: 100%; height: 530px; }
  /* toogle with javascript */
  .has-js .banner-gmap .banner-img, .no-js .banner-gmap .gmap { display: none; }
  /* add loader */
  .has-js .banner-gmap { background: #e5e3df url(images/loader-e5e3df.gif) center center no-repeat; }
  
  /* gmap info */
  .gmap-item { width: 250px; overflow-x: hidden; padding: 15px 10px; }
    .gmap-itemtitle { margin: 0 0 15px; }
    /* these rules must be very strong to overide google rules */
    .has-js .gmap .gmap-item .font-0 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 12px; line-height: 1.231; }
    .has-js .gmap .gmap-item .gmap-itembtn { font-family: bebasneue, sans-serif; font-size: 16px; }
  
/* adjust subnav with gmap (on place pages) */
.place.index #subnav, .place.detail #subnav { top: 595px; }
  
/* section */
.section { padding: 70px 0; }

/* pattern */
.pattern { position: relative; }
.pattern:before, .pattern:after { position: absolute; content: ""; z-index: 2; right: 0; left: 0; height: 45px; background-position: 0 0; background-repeat: repeat-x; }
.pattern:before { top: 0; background-image: url(images/pattern-up.png); }
.pattern:after { bottom: 0; background-image: url(images/pattern-down.png); }

/* line before and after title, parent must have "overflow: hidden" (.clean) and "text-align: center" (.ct)*/
.lined { position: relative; display: inline-block; }
.lined:before, .lined:after { content: ""; display: block; position: absolute; top: 50%; height: 1px; width: 10000px; background-color: #bbae8e; }
.lined:before { right: 100%; margin-right: 13px; }
.lined:after { left: 100%; margin-left: 13px; }

/*** Lists ***/

/* list1, used a lot of times for realizations, products, places... */
.list1-title { margin: 0 0 20px; }
.list1 { margin: -30px -10px 0; }
  .list1-item { padding: 0 10px; margin-top: 30px; width: 255px; display: inline-block; vertical-align: top; overflow: hidden; text-align: left; }
    .list1-itemlink { border-top: solid 3px #685d4b; padding-top: 1px; }
      .list1-itemtitle { color: #6b624d; margin: 10px 0 5px; }
      .list1-itemdesc { margin: 0; color: #666; line-height: 1.231; }
    /* effect, restricted on a tag */
    a.list1-itemlink:hover, a.list1-itemlink:focus, a.list1-itemlink:active { border-color: #bbae8e; }
    a.list1-itemlink:hover .list1-itemtitle, a.list1-itemlink:focus .list1-itemtitle, a.list1-itemlink:active .list1-itemtitle { color: #bbae8e; }
/* this button is also use for back to list on news and realization detail */
.list1-btn { margin-top: 70px; position: relative; }
  .list1-btn:before { content: ""; display: block; position: absolute; z-index: 1; top: -30px; left: 50%; margin-left: -35px; width: 70px; height: 1px; background-color: #bbae8e; }
      
/* list2, used on homepage for products */
.list2-title { margin: 0 0 25px; }
.list2 { margin: 0 -10px; }
  .list2-item { padding: 0 10px; width: 240px; display: inline-block; vertical-align: top; }
    .list2-itemlink { position: relative; }
    .list2-itemlink:after { content: ""; display: block; z-index: 1; position: absolute; top: 0; left: 0; right: 0; height: 115px; box-shadow: inset 0 0 10px 0 rgba(0,0,0,.75); }
      .list2-itemimg {  }
      .list2-itemtitle { color: #6b624d; text-align: center; margin: 10px 0 0; }
    /* effect */
    .list2-itemlink:hover:after, .list2-itemlink:focus:after, .list2-itemlink:active:after { display: none; }
    .list2-itemlink:hover .list2-itemtitle, .list2-itemlink:focus .list2-itemtitle, .list2-itemlink:active .list2-itemtitle { color: #bbae8e; }

/* list3, used on homepage for places */
.list3-title { margin: 0 0 7px; }
.list3 {}
  .list3-item { text-align: center; }
  .list3-item + .list3-item { margin-top: 5px; }
    .list3-itemtitle { color: #6b624d; margin: 0; }
      .list3-itemlink { text-decoration: none; }
      /* effect */
      .list3-itemlink:hover, .list3-itemlink:focus, .list3-itemlink:active { color: #bbae8e; }
      
/* list4, used on staff display */
.list4-title { /*margin: 0 0 8px;*/ }
.list4 {}
  .list4-item { padding-bottom: 8px; position: relative; }
  .list4-item + .list4-item { padding-top: 8px; }
  .list4-item + .list4-item:before { content: ""; display: block; position: absolute; z-index: 0; top: 0; left: 0; width: 70px; height: 1px; background-color: #bbae8e; }
    .list4-itemtitle { margin: 0 0 3px; font-size: 12px; }
    .list4-itemlink {}
    
/* list5, used for place addresses display on contact page */    
.list5 { margin: -30px -10px 0; }
  .list5-item { padding: 0 10px; margin-top: 30px; width: 255px; display: inline-block; vertical-align: top; overflow: hidden; text-align: left; }
    .list5-itemtitle { margin: 0 0 5px; }
      .list5-itemlink { text-decoration: none; }
      /* effect */
      .list5-itemlink:hover, .list5-itemlink:focus, .list5-itemlink:active { text-decoration: underline; }
    .list5-itemadr { color: #666; line-height: 1.4; }
    
/* list6, used for documents, press and news list */
.list6 {}
  .list6-item { }
  .list6-item + .list6-item { border-top: 1px #bbae8e solid; }
    .list6-itemlink { padding: 20px 150px 20px 0; position: relative; }
      .list6-itemtitle { display: inline-block; margin: 0; font-size: 16px; }
      .list6-iteminfo { display: inline-block; margin: 0 0 0 10px; }
      .list6-itembtn { position: absolute; top: 13px; right: 0; z-index: 1; }
      /* press case with multiple documents, should do the job, it looks dirty, but it is smart */
      .list6-itembtnmultiple { position: relative; float: right; top: -8px; right: -150px; margin-left: 10px; }
    .list6-itemdesc { padding: 0 150px 10px 0; color: #666; line-height: 1.231; }
    .list6-itemdesc + .list6-itemdesc { margin-top: -10px; }
    /* effect, restricted on a tag */
    a.list6-itemlink:hover .list6-itembtn, a.list6-itemlink:focus .list6-itembtn, a.list6-itemlink:active .list6-itembtn { color: #bbae8e; border-color: #bbae8e; }
    
      
/* aside list */
.asidelist-title { margin: 0 0 5px; }
.asidelist { padding: 0 0 30px; }
  .asidelist-item { padding: 3px 0 0; }
    .asidelist-itemlink { text-decoration: none; }
    /* effect */
    .asidelist-itemlink:hover, .asidelist-itemlink:focus, .asidelist-itemlink:active { text-decoration: underline; }
    .asidelist-itemlink.active { font-weight: bold; }
    .asidelist-itemlink.active:before { content: "\00D7\00A0"; display: inline; }
.asidelist-link { text-decoration: none; display: inline-block; margin: 30px 0 0; }
/* effect */
.asidelist-link:hover, .asidelist-link:focus, .asidelist-link:active { text-decoration: underline; }
.asidelist-link.active { font-weight: bold; }
.asidelist-link.active:before { content: ">\00A0"; display: inline; }


/*** Aside ***/

/* aside col */
.asidecol.col-1\/4 { padding-left: 30px; }

/* aside filter */
.asidefilter {}
  .asidefilter-title { margin: 0 0 5px; }
  /* set a min-height to avoid Firefox semi-pixels display */
  x:-moz-any-link, .asidefilter-title { min-height: 28px; }
  .asidefilter-rowsubmit { text-align: right; }
    .asidefilter-reset { display: inline-block; margin-right: 20px; }
    .asidefilter-btn {}
    

/*** Forms ***/

/* layout */
.form { margin: 0 -10px; }
.form .col-1\/3, .form .col-2\/3, .form .col-3\/3 { margin-bottom: 10px; }
/* error */
.form-group-error .form-row { padding-top: 15px; }
.form-group-error .form-row.form-row-error { padding-top: 0; }

/* message */
.form-error { color: #c22b2b; }
.form-success { color: #008913; }
.form-notice { color: #008913; }

/* labels */
label { display: inline-block; padding-bottom: 2px; }
.form-row-error label { color: #c22b2b; }

/* elements */
/* default */
select[name], textarea[name], input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"] { color: #bbae8e; padding: 10px; width: 100%; border-color: #bbae8e; box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.08); }
textarea[name] { height: 140px; }
select[name] { padding: 9px 10px 9px 7px; height: 37px; }
/* adjust webkit select display */
@media screen and (-webkit-min-device-pixel-ratio:0) { select[name] { border-radius: 0; -webkit-appearance: none; background: url(images/select_x2.png) 100% 50% no-repeat, url(images/bg-pattern.jpg) 0 0 repeat; background-size: 15px 10px, 130px 130px; } }
select[name] option { padding: 10px; }
/* hover */
select[name]:hover, textarea[name]:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="date"]:hover { border-color: #6b624d; color: #6b624d; }
/* focus, active */
select[name]:focus, textarea[name]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="date"]:focus,
select[name]:active, textarea[name]:active, input[type="text"]:active, input[type="password"]:active, input[type="email"]:active, input[type="url"]:active, input[type="date"]:active { border-color: #6b624d; background: #e0dacd; color: #6b624d; }
/* adjust webkit select display */
@media screen and (-webkit-min-device-pixel-ratio:0) { select[name]:focus, select[name]:active { background: url(images/select_x2.png) 100% 50% no-repeat, #e0dacd; background-size: 15px 10px; } }
/* error (by default #c22b2b) */
.form-row-error select[name], .form-row-error textarea[name], .form-row-error input[type="text"], .form-row-error input[type="password"], .form-row-error input[type="email"], .form-row-error input[type="url"], .form-row-error input[type="date"] { border-color: #c22b2b; color: #c22b2b; }

/* choice list */
.choicelist { padding: 5px 0 30px; }
  /* set a min-height to get the same display */
  .choicelist-item { padding: 3px 0 0; position: relative; }
    /* set a min-height to avoid Firefox semi-pixels display */
    x:-moz-any-link, .choicelist-item { min-height: 17px; }
    .choicelist-input { position: absolute; top: 3px; left: 0; z-index: 1; vertical-align: top; }
    .choicelist-label { padding-left: 20px; /*white-space: nowrap;*/ }

/* placeholder, each variation needs to be separated to work */
/* normal */
::placeholder {}
::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder { opacity: 1; } /* FF 19+ had an opacity to the placeholder */
:-ms-input-placeholder {}
.\:placeholder {} /* @see jquery.placeholder.js */
/* hover */
:hover::placeholder {}
:hover::-webkit-input-placeholder {}
:hover:-moz-placeholder {}
:hover::-moz-placeholder {}
:hover:-ms-input-placeholder {}
.\:placeholder:hover {} /* @see jquery.placeholder.js */
/* focus, active */
:focus::placeholder, :active::placeholder {}
:focus::-webkit-input-placeholder, :active::-webkit-input-placeholder {}
:focus:-moz-placeholder, :active:-moz-placeholder {}
:focus::-moz-placeholder, :active::-moz-placeholder {}
:focus:-ms-input-placeholder, :active:-ms-input-placeholder {}
.\:placeholder:focus, .\:placeholder:active {} /* @see jquery.placeholder.js */
/* error (by default #c22b2b) */
.form-row-error ::placeholder { color: #c22b2b; }
.form-row-error ::-webkit-input-placeholder { color: #c22b2b; }
.form-row-error :-moz-placeholder { color: #c22b2b; }
.form-row-error ::-moz-placeholder { color: #c22b2b; }
.form-row-error :-ms-input-placeholder { color: #c22b2b; }
.form-row-error .\:placeholder { color: #c22b2b; } /* @see jquery.placeholder.js */

/* radio/checkbox */
/* you must uncomment some lines from main.js to activate the input replacement */
/* for not-modern browser, do not forgot to activate jquery.checked.js in view.yml file */
/* hide it, but keep it at correct place (for focus) */
.js-checkboxinput { position: absolute; z-index: -1; }
/* note that .js-checkbox is added in javascript */
.js-checkboxinput + .js-checkbox { cursor: pointer; width: 13px; height: 13px; position: absolute; top: 3px; left: 0; z-index: 1; background: url(images/check.png) 0 0 no-repeat; }
/* unchecked */
/* normal */
.js-checkboxinput + .js-checkbox { background-position: 0 0; }
/* hover */
.js-checkboxinput + .js-checkbox:hover, label:hover + .js-checkboxinput + .js-checkbox,
/* focus, active */
.js-checkboxinput:focus + .js-checkbox, .js-checkboxinput:active + .js-checkbox,
label:focus + .js-checkboxinput + .js-checkbox, label:active + .js-checkboxinput + .js-checkbox { background-position: 0 -26px; }
/* error (by default #c22b2b) */
/* unused / .form-row-error .js-checkboxinput + .js-checkbox { background-position: ; }
/* checked */
/* normal */
.js-checkboxinput:checked + .js-checkbox, 
.js-checkboxinput.\:checked + .js-checkbox { background-position: 0 -13px; } /* @see jquery.checked.js */
/* hover */
.js-checkboxinput:checked + .js-checkbox:hover, label:hover + .js-checkboxinput:checked + .js-checkbox,
.js-checkboxinput.\:checked + .js-checkbox:hover, label:hover + .js-checkboxinput.\:checked + .js-checkbox, /* @see jquery.checked.js */
/* focus, active */
.js-checkboxinput:checked:focus + .js-checkbox, .js-checkboxinput:checked:active + .js-checkbox, 
label:focus + .js-checkboxinput:checked + .js-checkbox, label:active + .js-checkboxinput:checked + .js-checkbox,
.js-checkboxinput.\:checked:focus + .js-checkbox, .js-checkboxinput.\:checked:active + .js-checkbox ,
label:focus + .js-checkboxinput.\:checked + .js-checkbox, label:active + .js-checkboxinput.\:checked + .js-checkbox { background-position: 0 -39px; } /* @see jquery.checked.js */
/* error (by default #c22b2b) */
/* unused / .form-row-error .js-checkboxinput:checked + .js-checkbox,
.form-row-error .js-checkboxinput.\:checked + .js-checkbox { background-position: ; } /* @see jquery.checked.js */

         
/*** Overlay ****/

/* do not set a max-height here */
.overlay { display: inline-block; min-height: 170px; min-width: 170px; /*max-height: 740px;*/ padding: 65px 70px 75px; background: #fff url(images/loader-ffffff.gif) 50% 50% no-repeat; }
  .overlay-in { background: #fff; }
  /* buttons */
  .overlay-prev, .overlay-close, .overlay-next { display: none; cursor: pointer; width: 45px; height: 45px; background-image: url(images/overlay.png); background-repeat: no-repeat; position: absolute; bottom: 100%; z-index: 1; opacity: .75; filter: alpha(opacity=75); }
  .overlay-prev { right: 50%; margin-right: 25px; }
  /* adjust display on Firefox (semi-pixels ability) */
  x:-moz-any-link, .overlay-prev { margin-right: 24px; }
  .overlay-close { left: 50%; margin-left: -23px; background-position: -45px 0; }
  .overlay-next { left: 50%; margin-left: 23px; background-position: -90px 0; }
  .overlay-prev:hover, .overlay-close:hover, .overlay-next:hover { opacity: 1; filter: alpha(opacity=100); }
  
     /* content */
    .overlay-colgroup { width: 1075px; }
      /* set a max-height here */
      .overlay-colleft { width: 255px; max-height: 600px; overflow: hidden; }
      .overlay-colright { width: 800px; position: relative; }
      
        /* scrollable inside overlay */
        .scrollable { height: 600px; width: 800px; position: relative; overflow: hidden; }
          .scrollablelist { white-space: nowrap; position: absolute; }
            /* set a width to avoid bad effect on image loading */
            .scrollablelist-item { display: inline-block; width: 800px; } 

        .scrollablenavi { position: absolute; top: 100%; left: 0; right: 0; z-index: 1; text-align: center; margin-top: 17px; }
          .scrollablenavi-item { display: inline-block; padding: 3px; cursor: pointer; line-height: 0 !important; }
            .scrollablenavi-itemlink { display: inline-block; width: 10px; height: 10px; background-color: #d1cec9; text-indent: -999em; overflow: hidden; }
            /* effect */
            .scrollablenavi-item:hover .scrollablenavi-itemlink, .scrollablenavi-item.\:active .scrollablenavi-itemlink { background-color: #685d4b; }

/* hide overlay on load */
.overlay, .overlayvideo { position: absolute; left: -999em; top: -999em; }


/*** Home ***/

/* banner */
#homebanner { height: 565px; }
/* hide pattern down */
#homebanner:after { display: none; }
  /* adjust image position */
  #homebanner .banner-img { margin-top: -282px; }

  /* make special subwrapper below */
#homebanner + .subwrap { margin: -55px auto 0; width: 1080px; } 
  /* adjust content */
  #homebanner + .subwrap .bg-pattern { padding: 21px 30px 30px; position: relative; }
  /* add special clip of the image, by convenience, the clip is at the same place that the banner image */
  #homebanner + .subwrap .bg-pattern:before { display: block; content: ""; position: absolute; z-index: 2; top: -5px; left: 199px; width: 154px; height: 45px; background: url(../images/home-topbanner-clip.png) 0 0 no-repeat; }

/* intro */
.homeintro { margin: 0 -20px 20px; line-height: 38px; }
  .homeintro .homeintro-line1 { display: block; margin: 0; font-size: 32px; line-height: 1.6; }

/* list titles */
.homelist-title { padding-top: 25px !important; position: relative; }
.homelist-title:before { content: ""; display: block !important; position: absolute; z-index: 1; top: 0; left: 50%; margin-left: -35px; width: 70px; height: 1px; background-color: #bbae8e; border-top: 0; }


/*** Layout ***/

.wrap { max-width: 1500px; min-width: 1100px; margin: 0 auto; background-color: #fff; box-shadow: 0 0 10px 0 rgba(0,0,0,.15); position: relative; }
.subwrap { width: 1100px; margin: 0 auto; position: relative; } 

/* column stuff, must be used with box class */
.col-1\/4 { width: 25%; padding: 0 10px; }
.col-1\/3 { width: 33.33%; padding: 0 10px; }
.col-1\/2, .col-2\/4 { width: 50%; padding: 0 10px; }
.col-3\/4 { width: 75%; padding: 0 10px; }
.col-2\/3 { width: 66.66%; padding: 0 10px; }
.col-1\/1, .col-2\/2, .col-3\/3, .col-4\/4 { width: 100%; padding: 0 10px; }

/* headerlogo */
#headerlogo { height: 120px; overflow: hidden; transition: height 300ms ease-in-out; -webkit-transition: height 300ms ease-in-out; }
  #headerlogo-link { position: fixed; z-index: 100; top: 21px; left: auto; margin-left: 10px; vertical-align: top; line-height: 0; }
  
  /* phone number and lang nav */
  #headeraside { position: fixed; z-index: 110; top: 10px; left: 50%; width: 550px; text-align: right; }
    /* lang nav */
    #langnav { display: inline-block; }
      .langnav-list { display: inline-block; }
        .langnav-item { display: inline-block; }
          .langnav-link { display: inline-block; padding: 2px 10px 0; border-width: 0 1px 0 0; border-style: solid; text-decoration: none; }
          /* effect */
          .langnav-link:hover, .langnav-link:focus, .langnav-link:active, .langnav-link.active { color: #6b624d; }
    /* other link */
    .headeraside-link { display: inline-block; padding: 2px 10px 0; text-decoration: none; }
    /* effect */
    .headeraside-link:hover, .headeraside-link:focus, .headeraside-link:active { color: #6b624d; }

/* header nav and phone number */
/* use left: 0 and right: 0 combined with and margin: 0 auto; (.wrap) */
#headertop { position: fixed; z-index: 90; top: 0; left: 0; right: 0; background-color: #fff; box-shadow: none; }
  /* IE8 has diffculty to display navigation correctly */
  .ie_lt9 #headertop { left: 50%; right: auto; margin-left: -750px; width: 1500px; }
  #headertop .subwrap { height: 120px; overflow: hidden; }
    /* navigation */
    #headertop-nav { position: absolute; right: -5px; bottom: 18px; }
      .headernav-list { white-space: nowrap; }
        .headernav-item { display: inline-block; }
          .headernav-link { display: inline-block; font-size: 19px; padding: 0 15px; text-decoration: none; }
          .headernav-item + .headernav-item .headernav-link { border-left: 1px #ddd6c6 solid; }
          /* effect */
          .headernav-link:hover, .headernav-link:focus, .headernav-link:active, .headernav-link.active { color: #6b624d; }

/* scrolled */
    /* hide original logo to display another one */
    .\:scrolled #headerlogo-img { display: none; }
  /* display the scrolled logo */
  .\:scrolled #headerlogo-link { top: 10px; width: 171px; height: 47px; background: url(images/logo-scrolled.png) 50% 50% no-repeat; background-size: cover; }
  /* move aside data out of content */
  .\:scrolled #headeraside { top: -45px; transition: top 300ms ease-in-out; -webkit-transition: top 300ms ease-in-out; }
  
/* do shadow only in that case */
.\:scrolled #headertop { box-shadow: 0 10px 10px -10px rgba(0,0,0,.15); }
  /* adjust height of the headertop wrap */
  /* do the transition only on scrolled effect, not on reverse one */
  .\:scrolled #headertop .subwrap { height: 65px; transition: height 300ms ease-in-out; -webkit-transition: height 300ms ease-in-out; }  
    /* adjust position of the nav */
    /* do the transition only on scrolled effect, not on reverse one */
    .\:scrolled #headertop-nav { bottom: 20px; transition: bottom 300ms ease-in-out; -webkit-transition: bottom 300ms ease-in-out; } 

/* footer */
#footer { padding: 70px 0 20px; }
/* hide pattern down */
#footer:after { display: none; }

  .footertitle { padding: 25px 0 20px; position: relative; }
  .footertitle:before { display: block; content: ""; position: absolute; left: 50%; margin-left: -35px; top: 0; width: 70px; height: 1px; background-color: #fff; }
    .footertitle-line1 { display: block; color: #fff; margin-bottom: 5px; }

  .footeradr { font-size: 15px; display: block; margin: 25px 0 0; padding: 25px 0 20px; position: relative; }
     /* with bullet */
     /* .footeradr:before { display: block; content: ""; position: absolute; left: 50%; margin-left: -35px; top: 0; width: 70px; height: 70px; border-top: 1px #fff solid; background-position: 50% 100%; background-repeat: no-repeat; } */
    .footeradr:before { display: block; content: ""; position: absolute; left: 50%; margin-left: -35px; top: 0; width: 70px; height: 1px; background: #fff; }
    .footeradr-part + .footeradr-part:before { display: inline; content: "\00A0/\00A0\00A0"; }
      .footeradr-link { text-decoration: none; }
      /* effect */
      .footeradr-link:hover, .footeradr-link:active, .footeradr-link:focus { color: #fff; }
      
  /* overwrote effect */
  #footer .btn:hover, #footer .btn:focus, #footer .btn:active { color: #fff; border-color: #fff; }
      
  #footer-author { text-decoration: none; color: #eae2cf; font-size: 11px; }
  /* effect */
  #footer-author:hover, #footer-author:active, #footer-author:focus { text-decoration: underline; }
  
/* subnav */
#subnav { position: absolute; z-index: 5; left: 0; right: 0; top: 415px; height: 55px; white-space: nowrap; text-align: center; }
/* hide pattern up */
#subnav:before { display: none; }
  .subnav-list { position: relative; z-index: 5; white-space: nowrap; }
    .subnav-item { display: inline-block; }
      .subnav-link { display: inline-block; padding: 15px 10px; font-size: 16px; text-decoration: none; color: #fff; }
      .subnav-item + .subnav-item:before { content: "/"; display: inline-block; font-size: 16px; font-family: bebasneue, sans-serif; font-weight: normal !important; font-style: normal !important; color: #fff; }
      /* effect */
      .subnav-link:hover, .subnav-link:focus, .subnav-link:active, .subnav-link.active { color: #685d4b; }
      /* except on anchor */
      .subnav-link.js-smoothscroll:focus, .subnav-link.js-smoothscroll:active { color: #fff; }
      .subnav-link.\:active { color: #685d4b !important; }
      
#subnav.\:fixed1 { position: fixed; z-index: 80; height: 50px; margin: 0 auto; max-width: 1500px; min-width: 1100px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.15);
                  /* play with margin top for a transition effect */
                  top: 5px !important; transition: margin-top 300ms ease-in-out; -webkit-transition: margin-top 300ms ease-in-out; }  
#subnav.\:fixed2 { margin-top: 60px; }

/* hide pattern down */
#subnav.\:fixed1:after { display: none; }      

                              
/*** Media queries ***/

/* these media queries are just samples */
/* use appropriate queries to fit the design */
/* !!! DO NOT FORGOT TO APPLY DEFAULT STYLES FOR 960px SCREEN (IE8) !!! */

/* for screen smaller than 700px height */
@media screen and (max-height: 700px) {
  
  /*** Home ***/
  /* adjust home banner display */
  #homebanner + .subwrap .bg-pattern:before { display: none; }
  #homebanner + .subwrap { margin: -130px auto 0; }
  
}

/* for screen higher than 1500px width */
@media screen and (min-width: 1500px) {
  
  /*** Layout ***/
  /* header */
  /* IE10 and IE9 has diffculty to display navigation correctly */
  #headertop { left: 50%; right: auto; margin-left: -750px; width: 1500px; }
  
}

/* remove the space to test x2 icons on normal resolution */
@media /** / screen, /**/ (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  
  /* group elements with bull */
  h2:before, .h2:before, .footeradr:before { background-image: url(images/bull-685d4b_x2.png); background-size: 25px 38px; }
  
  /* pattern */
  .pattern:before {}
  .pattern:after {}
  
  /* radio/checkbox */
  .js-checkboxinput + .js-checkbox { background-image: url(images/check_x2.png); background-size: 13px 52px; }
  
  /* buttons */
  .overlay-prev, .overlay-close, .overlay-next {background-image: url(images/overlay_x2.png); background-size: 135px 45px; }
  
  /* scrolled */
  /* display the scrolled logo */
  .\:scrolled #headerlogo-link { background-image: url(images/logo-scrolled_x2.png); background-size: 171px 47px; }
}


/* for screen bigger than 1600px */
@media screen and (min-width: 1600px) {}
/* for screen smaller than 960px */
@media screen and (max-width: 960px) {}

/*** CSS hacks (last update 2013-03-20)***/

/* Firefox 2+ */
x:-moz-any-link, .selector {}
/* Chrome, Safari 3+ */
@media screen and (-webkit-min-device-pixel-ratio:0) { .selector {} }
/* Safari 5+ and Chrome 24- */
::x, .selector {}
/* Opera 9.5+ */
x:-o-prefocus, .selector {}
